﻿@{
    ViewBag.Title = "Nereyi Gezelim";
}

<div class="jumbotron">
    <h1>Nereyi Gezelim</h1>
    <p class="lead">Yola çıkmadan önce bize bir uğrayın</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Didim Akbük</h2>
        <p>
            Didim’in Altınkum Plajından Sonra En Popüler ve Tercih edilen Plajlarından 2. si olan Akbük Plajı, Didim’e Yaklaşık 20 km mesafede yer almaktadır.
        </p>
        <img src="~/kitaplıklar/belgeler/zzdidimakbuk.jpg " width="300" height="100" alt="zzdidimakbuk" />
       
    </div>
    <div class="col-md-4">
        <h2>Efes Antik Kenti</h2>
        <p>Efes, Anadolu'nun batı kıyısında, bugünkü İzmir ilinin Selçuk ilçesi sınırları içerisinde bulunan, daha sonra önemli bir Roma kenti olan antik bir Yunan kentiydi. Klasik Yunan döneminde İyonya'nın on iki şehrinden biriydi</p>
        <img src="~/kitaplıklar/belgeler/Ephesus_Theater.jpg " width="300" height="100" alt="Ephesus_Theater" />
    </div>
    <div class="col-md-4">
        <h2>Sapanca Gölü</h2>
        <p>Sapanca Gölü, Adapazarı ile İstanbul arasında Kocaeli sınırına yakın bölgede, Sapanca ilçesi içinde yer alan bir göldür.</p>
        <img src="~/kitaplıklar/belgeler/sapancagolu.jpg " width="300" height="100" alt="sapancagolu" />
    </div>
</div>