﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nereyi Gezelim<br />
    DRMarketing İzmir<br />
    <abbr title="Telefon">:</abbr>
        8654201
</address>

<address>
    <strong>Bize Ulaşın:</strong>   <a href="mailto:nereyigezelim@gmail.com">nereyigezelim@gmail.com</a><br />
    <strong>Facebook:</strong> <a href="facebook.com/NereyiGezelim">facebook.com/NereyiGezelim</a>
</address>