﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Tarihiyerler";
}

<div class="row">
    <div class="col-md-6">
        <h2>Efes Antik Kenti</h2>
        <p>
            Efes , Anadolu'nun batı kıyısında, bugünkü İzmir ilinin Selçuk ilçesi sınırları içerisinde bulunan, daha sonra önemli
            bir Roma kenti  olan antik bir Yunan kentiydi. Klasik Yunan döneminde İyonya'nın on iki şehrinden biriydi. Kuruluşu Cilalı Taş Devri MÖ 6000
            yıllarına dayanır. 1994'te UNESCO tarafından Dünya Mirası Geçici Listesi'ne dahil edilen Efes, 2015'te ise Dünya Mirası olarak tescil edildi.[
        </p>
        <img src="~/resim/efesantikkent2.jpg " width="300" height="100" alt="zzdidimakbuk" />
    </div>
    <h2>Anıtkabir</h2>
    <p>
        Anıtkabir, Türk Kurtuluş Savaşı'nın, inkılapların önderi ve Türkiye Cumhuriyeti'nin ilk cumhurbaşkanı Mustafa Kemal Atatürk'ün, Ankara Anıttepe'de
        (eski adıyla Rasattepe) bulunan anıt mezarıdır. Ayrıca dördüncü cumhurbaşkanı Cemal Gürsel de 1966 yılında devrim şehitleri bölümüne defnedilmiştir
        (6 Kasım 1981 tarihli Devlet Mezarlığı Kanunu 1.madde 2.fıkra gereğince, 27 Ağustos 1988'de çıkartıldı). 1973'ten beri İsmet İnönü'nün kabri de Anıtkabir'dedir.
    </p>
    <img src="~/resim/anitkabir.jpg " width="300" height="100" alt="zzdidimakbuk" />
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Sultan Ahmet Camii</h2>
        <p>
            Sultan Ahmet Camii, 1609-1617 yılları arasında Osmanlı Padişahı I. Ahmed tarafından İstanbul'daki tarihî yarımadada, Mimar Sedefkâr Mehmed Ağa'ya yaptırılmıştır.
            Cami mavi, yeşil ve beyaz renkli İznik çinileriyle bezendiği için ve yarım kubbeleri ve büyük kubbesinin içi de yine mavi ağırlıklı kalem işleri ile 
            süslendiği için Avrupalılarca "Mavi Camii (Blue Mosque)" olarak adlandırılır. Ayasofya'nın 1935 yılında camiden müzeye dönüştürülmesiyle, İstanbul'un
             ana camii konumuna ulaşmıştır.
        </p>
        <img src="~/resim/sultanahmet.jpg " width="300" height="100" alt="zzdidimakbuk" />
    </div>
    <h2>Topkapı Sarayı</h2>
    <p>
        Topkapı Sarayı , İstanbul Sarayburnu'nda, Osmanlı İmparatorluğu'nun 600 yıllık tarihinin 400 yılı boyunca, devletin idare merkezi olarak kullanılan ve 
        Osmanlı padişahlarının yaşadığı saraydır.[1] Bir zamanlar içinde 4.000'e yakın insan yaşamıştır.
    </p>
    <img src="~/resim/topkapi.jpg " width="300" height="100" alt="zzdidimakbuk" />
</div>
               
